{namespace secure=TYPO3\AccountManagement\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">A list of Accounts</f:section>

<f:section name="Content">
	<f:render partial="FlashMessages" />
	<f:if condition="{accounts}">
		<f:then>
			<f:link.action class="right button radius" action="new"><i class="icon-user icon-white"></i> New account</f:link.action>
			<h2>Account list</h2>
			<table class="table">
				<tr>
					<th width="25%">Username</th>
					<th width="30%">Full name</th>
					<th width="15%">Creation Date</th>
					<th width="10%">Status</th>
					<th width="10%">Options</th>
				</tr>
				<f:for each="{accounts}" as="account">
					<tr>
						<td>
							<f:link.action action="show" arguments="{account: account}">{account.accountidentifier}</f:link.action>
						</td>
						<td>
							{account.party.name.fullName}
						</td>
						<td><f:format.date>{account.creationdate}</f:format.date></td>
						<td><span class="label label-success">Active</span></td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p>No accounts registered yet.</p>
		</f:else>
	</f:if>
</f:section>