<f:layout name="Default" />

<f:section name="Title">Creat a new account</f:section>

<f:section name="Content">
	<f:form action="create" name="account" class="form-horizontal">
		<f:render partial="FlashMessages" />
		<f:render partial="ValidationMessages" />
		<f:render partial="Account/Register" arguments="{_all}" />

		<div class="span10 form-actions form-footer">
			<div class="pull-right">
				<f:link.action class="btn" action="index">Cancel</f:link.action>
				<button class="btn btn-primary"> Create Account </button>
			</div>
		</div>
	</f:form>
</f:section>

<f:section name="Script"></f:section>