<f:layout name="Default" />

<f:section name="Title">Show register "{account.accountIdentifier}"</f:section>

<f:section name="Content">
	<ul class="breadcrumbs">
		<li><f:link.action controller="Account" action="index">Accounts</f:link.action></li>
		<li class="current"><a href="#">{account.party.name.fullname}</a></li>
	</ul>

	<p class="right"><f:link.action class="button" action="edit" arguments="{account: account}"><i class="icon-pencil icon-white"></i> Edit</f:link.action></p>
	<table class="table table-striped">
		<tr>
			<th>Account Name: </th>
			<td>{account.accountIdentifier}</td>
		</tr>
		<tr>
			<th>Full Name: </th>
			<td>{account.party.name.fullname}</td>
		</tr>
		<tr>
			<th>First Name: </th>
			<td>{account.party.name.firstname}</td>
		</tr>
		<tr>
			<th>Last Name: </th>
			<td>{account.party.name.lastname}</td>
		</tr>
		<f:for each="{account.roles}" as="role">
			<tr>
			<th>Role: </th>
			<td>{role}</td>
		</tr>
		</f:for>
		<f:if condition="{account.party.electronicAddresses}">

			<f:for each="{account.party.electronicAddresses}" as="electronicAddress">
				<tr>
					<th>
						{electronicAddress.type}:
					</th>
					<td>
						{electronicAddress.identifier}
					</td>
				</tr>
			</f:for>
		</f:if>
	</table>
</f:section>