<f:layout name="Default" />

<f:section name="Title">Account - Login</f:section>

<f:section name="Content">
	<div class="row form-alignment">
		<div class="offset3 span6 loginbox">
			<f:form name="login" class="form-horizontal well" action="authenticate">
				<fieldset>
					<div id="legend">
						<legend class=""><f:translate id="authentication.header">Login</f:translate></legend>
					<f:flashMessages class="alert" />
					</div>
					<div class="control-group">
						<!-- Username -->
						<label class="control-label"  for="username"><f:translate id="authentication.username">Username</f:translate></label>
						<div class="controls">
						<f:form.textfield id="username" type="text" placeholder="{f:translate(id: 'authentication.username.placeholder', value: 'Your username')}" class="input-large" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" value="{username}" />
						</div>
					</div>

					<div class="control-group">
						<!-- Password-->
						<label class="control-label" for="password"><f:translate id="authentication.password">Password</f:translate></label>
						<div class="controls">
						<f:form.textfield id="password" type="password" placeholder="{f:translate(id: 'authentication.password.placeholder', value: 'Your password')}" class="input-large" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" />
						</div>
					</div>

					<div class="control-group">
						<!-- Button -->
						<div class="controls">
							<button class="btn btn-success btn-large"><f:translate id="authentication.login">Login</f:translate></button>
							<f:if condition="{settings.register}">
								<f:link.action class="pull-right" controller="Register" action="new"><f:translate id="register.account">Register account?</f:translate></f:link.action>
							</f:if>
						</div>
					</div>
				</fieldset>
			</f:form>
		</div>
	</div>
</f:section>