{namespace secure=Security\Manager\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">Index view of Register controller</f:section>

<f:section name="Content">
	<div class="row form-alignment">
		<div class="offset2 span8 well">
			<h1>A dummy authenticated page.</h1>
			<p>Your are authenticated with user: <secure:account /></p>

			<f:link.action class="btn" controller="Login" action="logout"><i class="icon-off"></i> <f:translate id="authentication.logout">Logout</f:translate></f:link.action>
		</div>
	</div>
</f:section>