<f:flashMessages as="flashMessages">
	<f:for each="{flashMessages}" as="flashMessage">
		<f:if condition="{0: flashMessage.severity} == {0: 'OK'}">
			<div data-alert class="alert-box success">
		</f:if>
		<f:if condition="{0: flashMessage.severity} == {0: 'Notice'}">
			<div data-alert class="alert-box secondary">
		</f:if>
		<f:if condition="{0: flashMessage.severity} == {0: 'Warning'}">
			<div data-alert class="alert-box alert">
		</f:if>
		<f:if condition="{0: flashMessage.severity} == {0: 'Error'}">
			<div data-alert class="alert-box alert">
		</f:if>
			<f:if condition="{flashMessage.title}">
				<h4 class="alert-heading">{flashMessage.title}</h4>
			</f:if>
			{flashMessage}
			<a href="#" class="close">&times;</a>
		</div>
	</f:for>
</f:flashMessages>