{namespace account=TYPO3\AccountManagement\ViewHelpers}

<div class="section-container accordion" data-section="accordion">
	<section>
		<p class="title" data-section-title>
			<account:gravatar email="{account:account(propertyPath:'party.email')}" default="http://domain.com/gravatar_default.gif" class="gravatar" /><a href="#"><account:account propertyPath="accountIdentifier" /></a>
		</p>
		<div class="content" data-section-content>
			<ul class="side-nav">
				<li>
					<f:link.action package="TYPO3.AccountManagement" controller="Profile" action="profile">Profile</f:link.action>
				</li>
				<li>
					<f:link.action package="TYPO3.AccountManagement" controller="Profile" action="settings">Account Settings</f:link.action>
				</li>
				<li>
					<f:link.action package="TYPO3.AccountManagement" controller="Profile" action="permissions">Permissions</f:link.action>
				</li>
				<li>
					<f:link.action package="TYPO3.AccountManagement" controller="Profile" action="resetPassword">Reset Password</f:link.action>
				</li>
				<li>
					<f:link.action package="TYPO3.AccountManagement" controller="Profile" action="notificationCenter">Electronic Addresses</f:link.action>
				</li>
			</ul>
		</div>
	</section>
	<section class="active">
		<p class="title" data-section-title>
			<a href="#">Account Management</a>
		</p>
		<div class="content" data-section-content>
			<ul class="side-nav">
				<li>
					<f:link.action controller="Account" action="index">Account list</f:link.action>
				</li>
				<li>
					<f:link.action controller="Role" action="index">Role configuration</f:link.action>
				</li>
			</ul>
		</div>
	</section>
</div>