<div class="modal hide fade" id="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3><i class="icon-fire"></i> Header</h3>
	</div>
	<div class="modal-body">
		<p>Content</p>
	</div>
	<div class="modal-footer">
		Footer
	</div>
</div>

<div id="modal-from-dom" class="modal hide fade">
	<div class="modal-header">
		<h3>Header</h3>
	</div>
	<div class="modal-body">
		<p>You are about to delete one track url, this procedure is irreversible.</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-danger">Yes</a>
		<a href="#" class="btn secondary" data-dismiss="modal">No</a>
	</div>
</div>