<f:layout name="Default" />

<f:section name="Title">"{account.accountIdentifier}"</f:section>

<f:section name="Content">
	<h2>Account Settings</h2>
	<f:form action="update" object="{account}" name="account">
		<f:render partial="Account/Settings" arguments="{_all}" />

		<div class="span10 form-actions form-footer">
			<div class="pull-right">
				<f:link.action class="btn" action="index">Cancel</f:link.action>
				<button class="btn btn-primary"> Update </button>
			</div>
		</div>
	</f:form>
</f:section>