html,
body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent navigation by it's height */
	/* Negative indent footer by it's height */
	margin: 0 auto -48px;
}
#push,
footer {
	height: 48px;
}